<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Fontawesome JS -->
    <script src="https://kit.fontawesome.com/deca8c3d27.js" crossorigin="anonymous"></script>

    <title>MovieMatch!</title>
  </head>
  <body>

    <main role="main" class="container">
    <header class="logo">
        MovieMatch!
    </header>

    <a href="/">
      <button class ="button downvote">
        <i class="fas fa-thumbs-down fa-2x"></i>
      </button>
    </a>

    <div class="movie-card">
        <img src={{poster_image_path}} alt="movie">
        <div class="text">
          <h4 class="movie-title"><b>{{movie_title}}</b></h4>
          <p class="marker"><i class="fa fa-calendar" aria-hidden="true"></i> {{release_date}}</p>
          <p class="marker"> <i class="fa fa-film" aria-hidden="true"></i> {{genre}}</p>
          <p class="marker"> <i class="fa fa-clock-o" aria-hidden="true"></i> {{runtime}} </p>
          <hr>
          <p>{{plot}}</p>
        </div>
      </div>

      <div>
        <a href="/">
          <button class="button heart">
            <i class="fas fa-thumbs-up fa-2x"></i>
          </button>
        </a>
      </div>
    </div>

    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>